* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #fff;
  background-color: #0172B7;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

h2 {
  margin-top: 5px;
}

.ChangingPlacesText {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

/** HEADER **/
#header-nav {
  background-color: #bbeeff;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('../images/ChangingPlacesLogo-2_110x110.png') no-repeat;
  width: 110px;
  height: 110px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand a {
  text-decoration: none;
}
.navbar-brand h1 { /* Changing Places name */
  font-family: 'Raleway', sans-serif;
  color: #0172B7;
  font-size: 1.5em;
  /*text-transform: uppercase;*/
  font-weight: bold;
  /*text-shadow: 1px 1px 1px #777;*/
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #0172B7;     /* Blue to match the logo */
  /*color: #002255;*/ /* Darker blue */
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
/* END FOOTER */



/* HOME PAGE */
#page-banner {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #002255;
  padding: 0;
  margin-bottom: 15px;
}

#main-content {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #002255;
  padding: 0 15px;
  margin-bottom: 15px;
}

.image-div {
  width: 100%;
  background-position: center;
  overflow: hidden;
}

.headline {
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0;
  padding-left: 10px;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

.text-over {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  /*text-transform: uppercase;*/
  background-color: #000;
  color: #fff;
  opacity: .8;
}

/*#about:hover, #who-uses:hover, #get-involved:hover, #find:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}*/

/*#about, #who-uses, #get-involved, #find {
  background-color: #bbeeff;
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  border: 2px solid #002255;
  overflow: hidden;
}*/

a {
  color: #fff;
  text-decoration: underline;
}

a.tile {
  display: block;
  color: #002255;
  text-decoration: none;
  background-color: #bbeeff;
  /*height: 250px;*/
  /*width: 100%;*/
  margin: 15px 0;
  padding: 15px;
  /*position: relative;*/
  border: 2px solid #002255;
  overflow: hidden;
}
a.tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

/*iframe {
  border: 0;
}*/

.image-list li {
  padding: 2px;
}


/* END HOME PAGE */






/********** Large devices only **********/
@media (min-width: 1200px) {
  /* Home Page */
  #page-banner .image-div {
    background: url('../images/Banner-HamiltonGardens-1166x380.png') no-repeat;
    height: 380px;
  }
  #what-is .image-div {
    background: url('../images/image-what-are-521x521.jpg') no-repeat;
    height: 521px;
    width: 521px;
    margin: 0 auto;
  }
  #who-uses .image-div {
    background: url('../images/image-who-uses-521x521.jpg') no-repeat;
    height: 521px;
    width: 521px;
    margin: 0 auto;
  }
  #get-involved .image-div {
    background: url('../images/image-get-involved-521x521.jpg') no-repeat;
    height: 521px;
    width: 521px;
    margin: 0 auto;
  }

  .main-content #what-is a, #get-involved a, {
    margin-left: 0;
  }
  #who-uses a, #find a {
    margin-right: 0;
  }

/*  iframe {
    height: 521;
    width: 521;
  }*/

  /* End Home Page */
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
 
  /* Header */
  #nav-list {
    margin-top: -50px; /* Draws up the row of page links in the header */
  }
  /* End Header */

  /* Home Page */
  #page-banner .image-div {
    background: url('../images/Banner-HamiltonGardens-966x315.png') no-repeat;
    height: 315px;
  }
  #what-is .image-div {
    background: url('../images/image-what-are-421x421.jpg') no-repeat;
    height: 421px;
    width: 421px;
    margin: 0 auto;
  }
  #who-uses .image-div {
    background: url('../images/image-who-uses-421x421.jpg') no-repeat;
    height: 421px;
    width: 421px;
    margin: 0 auto;
  }
  #get-involved .image-div {
    background: url('../images/image-get-involved-421x421.jpg') no-repeat;
    height: 421px;
    width: 421px;
    margin: 0 auto;
  }

  #what-is a, #get-involved a, {
    margin-left: 0;
  }
  #who-uses a, #find a {
    margin-right: 0;
  }

/*  iframe {
    height: 421;
    width: 421;
  }*/

  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  
  /* Header */
  #nav-list {
    margin-top: -50px; /* Draws up the row of page links in the header */
  }
  /* End Header */

  /* Home Page */
  #page-banner .image-div {
    background: url('../images/Banner-HamiltonGardens-746x243.png') no-repeat;
    height: 243px;
  }
  #what-is .image-div {
    background: url('../images/image-what-are-521x521.jpg') no-repeat;
    height: 521px;
    width: 521px;
    margin: 0 auto;
  }
  #who-uses .image-div {
    background: url('../images/image-who-uses-521x521.jpg') no-repeat;
    height: 521px;
    width: 521px;
    margin: 0 auto;
  }
  #get-involved .image-div {
    background: url('../images/image-get-involved-521x521.jpg') no-repeat;
    height: 521px;
    width: 521px;
    margin: 0 auto;
  }

  #go-left a {
    display: block;
    height: 68px;
    background: url('../images/arrow-block-left-186x68.png') no-repeat;
    text-align: right;
  }
  #go-right a {
    height: 68px;
    background: url('../images/arrow-block-right-186x68.png') no-repeat;
  }

/*  iframe {
    height: 521;
    width: 521;
  }*/

  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {

/*  iframe {
    height: 421;
    width: 421;
  }*/

  /* Home Page */
/*  #page-banner .image-div {
    background: url('../images/Banner-HamiltonGardens-480x156.png') no-repeat;
    height: 156px;
  }*/
  /* End Home Page */

  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */



}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Home Page */

  .text-over {
    font-weight: normal;
    font-size: small;
  }

/*  #page-banner .image-div {
    background: none;
  }*/
  /* End Home Page */
  



/*  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }*/
}



